body {
	font-family: Futura, sans-serif;
	background-color: #f6cefc;
}

footer {
	font-size: 0.8em;
}

.section {
	margin: 8px;
	padding: 4px 6px 4px 6px;
	border: 4px solid #eeeeee;
	border-radius: 7px;
}

.examples {
}

.title {
}

.usage {
}

.contact {
}

.table {
}

/*
     FILE ARCHIVED ON 15:28:49 Mar 17, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:40:27 Mar 19, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 146.221
  exclusion.robots: 0.08
  exclusion.robots.policy: 0.07
  cdx.remote: 0.083
  esindex: 0.012
  LoadShardBlock: 103.188 (3)
  PetaboxLoader3.datanode: 107.581 (4)
  load_resource: 368.57
  PetaboxLoader3.resolve: 55.511
*/
