name: CI

on:
  push:
    branches: ['main']
    tags: ['v*']
  pull_request:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: jdx/mise-action@v2

      - name: Install dependencies
        run: mise run install

      - name: Codegen
        run: mise run codegen

      - name: Check for changes and create PR
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'chore: update generated files'
          title: 'chore: update generated files'
          body: 'This PR updates generated files based on the latest changes.'
          branch: 'chore/codegen-updates'
          base: 'main'

      - name: Run CI
        run: mise run ci

      - name: Release
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
        uses: softprops/action-gh-release@v2

      - name: Upload Artifacts
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: .svelte-kit/output
